form {
  margin: 2rem;
  button {
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: #1dbf73;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 10px;
  }
}
